<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <ul>
            @await Html.PartialAsync("NavLink", new NavLink("Dashboard", "/"))
            <li>Dashboard</li>
            <li>Posts</li>
            <li>Comments</li>
            <li>Users</li>
        </ul>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
