<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/nav.js"></script>
    <link href="/css/style.css" />
</head>

<img class="fixed h-screen w-screen object-cover -z-10" src="/img/88149.jpg" alt="background">

<body class="flex flex-col max-h-screen h-screen">
    <header class="py-2 fixed z-10 bg-white w-full">
        <ul class="flex uppercase text-2xl w-full justify-center gap-8">
            @await Html.PartialAsync("NavLink", new NavLink("Dashboard", "/"))
        </ul>
    </header>
    <main role="main" class="w-full h-full p-6 pt-20 flex flex-col gap-6">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/eddd484c61.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

