@{
    ViewData["Title"] = "Home Page";
    //bg-white backdrop-blur-2xl p-6 rounded
}

<main role="main" class="w-full h-full p-6 pt-20 flex gap-6">
    <div class="flex flex-col gap-6">
        <div class="flex gap-6 h-[50%]">
            <div class="bg-white/50 backdrop-blur-2xl p-6 rounded w-full overflow-clip">
                <div class="bg-white p-6 rounded h-full flex justify-center">
                    <canvas class="max-h-full" id="myChart"></canvas>
                </div>
            </div>
            <div class="grid bg-white/50 backdrop-blur-2xl p-6 rounded gap-6 w-1/3">
                <div class="flex flex-col items-center justify-center text-center text-white font-bold text-3xl">
                    <div class="p-6">
                        <div>Gebruikers</div>
                        <div class="text-green-200 font-black" id="UserCount">0</div>
                    </div>
                    <div class="p-6">
                        <div>Totale posts</div>
                        <div class="text-green-200 font-black" id="TotalPostsCount">0</div>
                    </div>
                    <div class="p-6">
                        <div>Posts vandaag</div>
                        <div class="text-green-200 font-black" id="NewPostsToday">0</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="flex gap-6 h-[50%]">
            <div class="grid grid-cols-3 gap-6 h-full">
                <div class="flex flex-col bg-white/50 backdrop-blur-2xl p-6 rounded overflow-y-scroll">
                    <div class="font-bold text-lg mb-4">Populairste berichten</div>
                    <div id="mostPopulairPosts" class="flex flex-col gap-6">
                    </div>
                </div>
                <div class="flex flex-col bg-white/50 backdrop-blur-2xl p-6 rounded overflow-y-scroll">
                    <div class="font-bold text-lg mb-4">Activiteiten logboek</div>
                    <div id="activities" class="flex flex-col gap-6">
                    </div>
                </div>
                <div class="flex flex-col bg-white/50 backdrop-blur-2xl p-6 rounded overflow-y-scroll">
                    <div class="font-bold text-lg mb-4">Meest actieve gebruikers</div>
                    <div id="mostActiveUsers" class="flex flex-col gap-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white/50 backdrop-blur-2xl p-6 rounded flex flex-col gap-6 overflow-y-scroll" id="postsContainer">
    </div>
</main>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/dashboard.js"></script>