@{
    ViewData["Title"] = "Posts";
}

<div class="grid grid-rows-5 lg:grid-rows-1 lg:grid-cols-3 gap-6 h-full">
    <div class="w-full h-full lg:col-span-2 row-span-2 row-span-4 lg:row-span-1 overflow-clip rounded relative">
        <div class="absolute overflow-y-scroll inset-0">
            <div class="bg-white/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-gray-500/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-white/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-gray-500/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-white/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-gray-500/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-white/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-gray-500/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-white/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-gray-500/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-white/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-gray-500/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-white/50 w-full h-[80px] p-6">hi</div>
            <div class="bg-gray-500/50 w-full h-[80px] p-6">hi</div>
        </div>
    </div>
    <div class="bg-white/50 p-6 rounded w-full h-full order-first lg:order-none">
    </div>
</div>

